extends layout

block content
    header(class="top-header")
        nav(class="top-nav")
            a(href="/home") Home
            a(href="#") Profile
        span(id="welcome-msg") Welcome, #{user}
        a(id="logout-link" href="/logout") Logout
        i(id="avatar" class="avatar fa fa-user fa-2x")

    div(class="container")
        header
            p
                span Recipedia
        section(class="main-section")
            aside(id="item-nav")
                nav(class="main-nav")
                    a(href="/" id="show-btn" class="main-nav-btn active")
                        i(class="fa fa-search")   List Recipes
                    a(href="/add" id="add-btn" class="main-nav-btn active")
                        i(class="fa fa-map-marker")   Add Recipe
                    a(href="/listFav" id="fav-btn" class="main-nav-btn active")
                        i(class="fa fa-heart")   My Favorites
                    a(href="/showMyRecipe" id="my-recp-btn" class="main-nav-btn active")
                        i(class="fa fa-bookmark")  My Recipes
            div(id="add-recipe")
                form(action="/addRecipe" method="POST")
                    h2 Add Your Own Recipe
                    label Recipe Name:
                    input(id="recipe-name" name="name" type="text")
                    label Ingredient:
                    TEXTAREA(id="recipe-ingredient" name="ingredient" type="text")
                    label(id="recipe")
                    label Instruction:
                    TEXTAREA(id="recipe-instruction" name="instruction" type="text")
                    label Course:
                    input(id="recipe-course" name="course" type="text")
                    label Prepare Time:
                    input(id="recipe-ptime" name="ptime" type="text")
                    label Cook Time:
                    input(id="recipe-ctime" name="ctime" type="text")
                    label Serving Size:
                    input(id="recipe-size" name="size" type="number")
                    label Image(Please enter img url):
                    input(id="recipe-img" name="img" type="text")
                    label Vegetarian
                    input(id="vegetarian" name="vegetarian" type="checkbox")
                    label Vegan
                    input(id="vegan" name="vegan" type="checkbox")
                    button(id="add-recipe-btn") ADD

                p(id="add-recipe-result") #{status}
