extends layout

block content
    url(id="item-list")
        for fav in favs
            li(class="item")
                img(alt="item image" src=fav.image)
                div
                    a(class="item-name" href='/detail?id=' + fav.id) #{fav.name}
                    div(class="stars")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                div(class="fav-link" onclick="favorite('" + fav.id + "')")
                    i(id="fav" + fav.id class=fav.favorite?'fa fa-heart':'fa fa-heart-o')
    