extends layout

block content
    div(id="register-form")
        form(action="/register" method="POST")
            h1 Register Form
            label Username: *
            input(id="register-username" name="username" type="text")
            label Password: *
            input(id="register-password" name="password" type="password")
            label Email: *
            input(id="register-email" name="email" type="text")
            button(id="register-btn") Register
            p(id="register-result") #{status}
        button(id="login-form-btn" onclick="move()") Back to Login
    script.
        function move() {
            window.location.href = '/'
        }

