extends layout

block content
    url(id="item-list")
        for myRecipe in myRecipes
            li(class="item")
                img(alt="item image" src=myRecipe.image)
                div
                    a(class="item-name" href='/detail?id=' + myRecipe.id) #{myRecipe.name}
                    div(class="stars")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                        i(class="fa fa-star")
                    a(href='/deleteRecipe?id=' + myRecipe.id)
                        button(class="delete-recipe-btn") Delete
                    p(class="delete-info") #{status}

