extends layout

block content
    div(class="container")
        section(class="main-section")
            div(id="add-recipe")
                form(action="/addRecipe" method="POST")
                    h2 Add Your Own Recipe
                    label Recipe Name:
                    input(id="recipe-name" name="name" type="text")
                    label Ingredient:
                    TEXTAREA(id="recipe-ingredient" name="ingredient" type="text")
                    label(id="recipe")
                    label Instruction:
                    TEXTAREA(id="recipe-instruction" name="instruction" type="text")
                    label Course:
                    input(id="recipe-course" name="course" type="text")
                    label Prepare Time:
                    input(id="recipe-ptime" name="ptime" type="text")
                    label Cook Time:
                    input(id="recipe-ctime" name="ctime" type="text")
                    label Serving Size:
                    input(id="recipe-size" name="size" type="number")
                    label Image(Please enter img url):
                    input(id="recipe-img" name="img" type="text")
                    label Vegetarian
                    input(id="vegetarian" name="vegetarian" type="checkbox")
                    label Vegan
                    input(id="vegan" name="vegan" type="checkbox")
                    button(id="add-recipe-btn") ADD

                p(id="add-recipe-result") #{status}
