extends layout

block content
    div(class="detail-btn")
        a(href='/reportList')
            button(class="delete-recipe-btn") Reported Recipes
    div(class="detail-btn")
        a(href='/respondedList')
            button(class="delete-recipe-btn") Responded Reports