body {
  background-color: rgb(46, 46, 46);
  font-family: Calibri, sans-serif;
  color: white;
}
.recipebody{
	width: 520px;
	height: 715px;
	position: relative;
	border-style: groove;
	display: inline-block;
}
.layer{
	width: 520px;
	height: 30px;
	position: relative;
}
.leftalign{
	left: 10px;
	position: absolute;
}
.rightalign{
	right: 10px;
	position: absolute;
}