extends layout

block content
	url(id="item-list")
		for report in list
			li(class="item")
				p UserID: #{report.userID}
				p RecipeID: #{report.recipeID}
				div
					a(class="item-name" href='/detail?id='+report.recipeID) #{report.recipeName}
					div(class="stars") Reason: 
						|#{report.context}
				div(class="report")
				form(action="/dealReport" method="POST")
					select(name="option")
						option(value="Modify")
						option(value="Delete")
						option(value="Ignore")
					button(id="add-recipe-btn") RESPOND

